<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
</head>
<body>
    <h1>Finalizar Pagamento</h1>
    <p>Total a pagar: R$ {{ total }}</p>  <!-- Exibe o valor total -->

    <!-- Simulação de um botão de pagamento -->
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Finalizar Compra</button>  <!-- Botão para finalizar pagamento -->
    </form>
</body>
</html>
